{% extends "base.html" %}
{% load i18n %}{% spaceless %}
<!DOCTYPE html>
{% load staticfiles %}
    {% block script %}
    <script>
        (function() {

	function Slideshow( element ) {
		this.el = document.querySelector( element );
		this.init();
	}

	Slideshow.prototype = {
		init: function() {
			this.wrapper = this.el.querySelector( ".slider-wrapper" );
			this.slides = this.el.querySelectorAll( ".slide_home" );
			this.previous = this.el.querySelector( ".slider-previous" );
			this.next = this.el.querySelector( ".slider-next" );
			this.index = 0;
			this.total = this.slides.length;
			this.timer = null;

			this.action();
			this.stopStart();
		},
		_slideTo: function( slide ) {
			var currentSlide = this.slides[slide];
			currentSlide.style.opacity = 1;

			for( var i = 0; i < this.slides.length; i++ ) {
				var slide = this.slides[i];
				if( slide !== currentSlide ) {
					slide.style.opacity = 0;
				}
			}
		},
		action: function() {
			var self = this;
			self.timer = setInterval(function() {
				self.index++;
				if( self.index == self.slides.length ) {
					self.index = 0;
				}
				self._slideTo( self.index );

			}, 4000);
		},
		stopStart: function() {
			var self = this;
			self.el.addEventListener( "mouseover", function() {
				clearInterval( self.timer );
				self.timer = null;

			}, false);
			self.el.addEventListener( "mouseout", function() {
				self.action();

			}, false);
		}
	};
	document.addEventListener( "DOMContentLoaded", function() {
		var slider = new Slideshow( "#main-slider" );
	});
})();

    </script>
    {% endblock %}
    <body>
    {% block slider %}
        <section class="homepage-slider" id="home-slider">
                <div class="slider" id="main-slider"><!-- outermost container element -->
                    <div class="slider-wrapper"><!-- innermost wrapper element -->
                        <img src="https://s3.amazonaws.com/gp.cdn.images/assets/deals/roadster-clothing-shoes-more-at-flat-50-70-off-1505299966.jpg" alt="First" class="slide_home" width = 100%/><!-- slides -->
                        <img src="https://www.lootdealsindia.in/wp-content/uploads/2017/07/Roadster-Clothing-Footwear-Accessories-Upto-70-Off-From-Rs.149-At-Myntra.jpg" alt="Second" class="slide_home" width = 100%/>
                        <img src="https://www.desilootera.com/wp-content/uploads/2017/12/Myntra-Roadster-Fashion.jpg" alt="Third" class="slide_home" width="100%"/>
                    </div>
                </div>
            </section>
    {% endblock %}

        <div id="wrapper" class="container">
            <section class="homepage-slider" id="home-slider">
                <div class="slider" id="main-slider"><!-- outermost container element -->
                    <div class="slider-wrapper"><!-- innermost wrapper element -->
                        <img src="https://s3.amazonaws.com/gp.cdn.images/assets/deals/roadster-clothing-shoes-more-at-flat-50-70-off-1505299966.jpg" alt="First" class="slide_home" width = 100%/><!-- slides -->
                        <img src="https://www.lootdealsindia.in/wp-content/uploads/2017/07/Roadster-Clothing-Footwear-Accessories-Upto-70-Off-From-Rs.149-At-Myntra.jpg" alt="Second" class="slide_home" width = 100%/>
                        <img src="https://www.desilootera.com/wp-content/uploads/2017/12/Myntra-Roadster-Fashion.jpg" alt="Third" class="slide_home" width="100%"/>
                    </div>
                </div>


            </section>

                {% block content %}

            <section class="header_text">
                We stand for top quality templates. Our genuine developers always optimized bootstrap commercial templates.
                <br/>Don't miss to use our cheap abd best bootstrap templates.
            </section>
            <section class="main-content">
                <div class="row">
                    <div class="span12">
                        <div class="row">
                            <div class="span12">
                                <h4 class="title">
                                    <span class="pull-left"><span class="text"><span class="line">Latest <strong>Products</strong></span></span></span>
                                    <span class="pull-right">
                                        <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
                                    </span>
                                </h4>
                                <div id="myCarousel" class="myCarousel carousel slide">
                                    <div class="carousel-inner">
                                        <div class="active item">
                                            <ul class="thumbnails">
                                                {% for each_product in object %}
                                                <li class="span3">

                                                    <div class="product-box">
                                                        <span class="sale_tag"></span>
                                                        <a href="{{ each_product.get_absolute_url }}" class="title">{{ each_product.title }}</a><br/>
                                                             <img src="{{ each_product.main_image.url }}" href = "{{ each_product.get_absolute_url }}">
                                                        <p class="price">{{ each_product.price }}</p>
                                                    </div>

                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="item">
                                            <ul class="thumbnails">
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p><a href="product_detail.html"><img src="themes/images/ladies/5.jpg" alt="" /></a></p>
                                                        <a href="product_detail.html" class="title">Know exactly</a><br/>
                                                        <a href="products.html" class="category">Quis nostrud</a>
                                                        <p class="price">$22.30</p>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p><a href="product_detail.html"><img src="themes/images/ladies/6.jpg" alt="" /></a></p>
                                                        <a href="product_detail.html" class="title">Ut wisi enim ad</a><br/>
                                                        <a href="products.html" class="category">Commodo consequat</a>
                                                        <p class="price">$40.25</p>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p><a href="product_detail.html"><img src="themes/images/ladies/7.jpg" alt="" /></a></p>
                                                        <a href="product_detail.html" class="title">You think water</a><br/>
                                                        <a href="products.html" class="category">World once</a>
                                                        <p class="price">$10.45</p>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p><a href="product_detail.html"><img src="themes/images/ladies/8.jpg" alt="" /></a></p>
                                                        <a href="product_detail.html" class="title">Quis nostrud exerci</a><br/>
                                                        <a href="products.html" class="category">Quis nostrud</a>
                                                        <p class="price">$35.50</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                        </div>
                        <div class="row feature_box">
                            <div class="span4">
                                <div class="service">
                                    <div class="responsive">
                                        <img src="themes/images/feature_img_2.png" alt="" />
                                        <h4>MODERN <strong>DESIGN</strong></h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="service">
                                    <div class="customize">
                                        <img src="themes/images/feature_img_1.png" alt="" />
                                        <h4>FREE <strong>SHIPPING</strong></h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="service">
                                    <div class="support">
                                        <img src="themes/images/feature_img_3.png" alt="" />
                                        <h4>24/7 LIVE <strong>SUPPORT</strong></h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="our_client">
                <h4 class="title"><span class="text">Manufactures</span></h4>
                <div class="row">
                    <div class="span2">
                        <a href="#"><img alt="" src="themes/images/clients/14.png"></a>
                    </div>
                    <div class="span2">
                        <a href="#"><img alt="" src="themes/images/clients/35.png"></a>
                    </div>
                    <div class="span2">
                        <a href="#"><img alt="" src="themes/images/clients/1.png"></a>
                    </div>
                    <div class="span2">
                        <a href="#"><img alt="" src="themes/images/clients/2.png"></a>
                    </div>
                    <div class="span2">
                        <a href="#"><img alt="" src="themes/images/clients/3.png"></a>
                    </div>
                    <div class="span2">
                        <a href="#"><img alt="" src="themes/images/clients/4.png"></a>
                    </div>
                </div>
            </section>

                {% endblock %}

        </div>
{% endspaceless %}