{% extends "base.html" %}
{% load i18n %}{% spaceless %}
<!DOCTYPE html>
{% load staticfiles %}
{% load product_detail1 %}
        <div id="wrapper" class="container">
        {% block content %}
            <section class="header_text sub">
                <h4><span>{{ product.title }}</span></h4>
            </section>
            <section class="main-content">
                <div class="row">
                    <div class="span9">
                        <div class="row">
                            <div class="span4">
                                <a href={{ product.main_image.url }} class="thumbnail" data-fancybox-group="group1" title=""><img alt="" src={{ product.main_image.url }}></a>
                                <ul class="thumbnails small">
                                    {% for img in product.photos.all|slice:"1:" %}
                                    <li class="span1">
                                        <a href={{ img.image.url }} class="thumbnail" data-fancybox-group="group1" title=""><img src={{ img.image.url }} alt="{{ product.title }}"></a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="span5">
                                <address>
                                    <strong>Brand:</strong> <span>{{ product.brand|title }}</span><br>
                                    <strong>Product Code:</strong> <span>Product {{ product.pk }}</span><br>
                                    <strong>Availability:</strong> <span>{{ product.availability|title }}</span><br>
                                </address>
                                <h4><strong>Price: {{ product.price }}</strong></h4>
                            </div>
                            <div class="span5">
                                <form class="form-inline">
                                    <p>&nbsp;</p>
                                    <label>Qty:</label>
                                    <input type="text" class="span1" placeholder={{ product.quantity }}>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span9">
                                <ul class="nav nav-tabs" id="myTab">
                                    <li class="active"><a href="#home">Description</a></li>
                                    <li class=""><a href="#profile">Additional Information</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="home">{{ product.description }}</div>
                                    <div class="tab-pane" id="profile">
                                        <table class="table table-striped shop_attributes">
                                            <tbody>
                                                <tr class="">
                                                    <th>Size</th>
                                                    <td>
                                                    {% for size in product.attributes.all %}
                                                        {% if size.base.label == 'size' %}
                                                           {{ size.value }}
                                                        {% endif %}
                                                    {% endfor %}
                                                    </td>
                                                </tr>
                                                <tr class="alt">
                                                    <th>Colour</th>
                                                    <td>
                                                    {% for color in product.attributes.all %}
                                                        {% if color.base.label == 'color' %}
                                                           {{ color.value }}
                                                        {% endif %}
                                                    {% endfor %}

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="span9">
                                <br>
                                <h4 class="title">
                                    <span class="pull-left"><span class="text"><strong>Related</strong> Products</span></span>
                                    <span class="pull-right">
                                        <a class="left button" href="#myCarousel-1" data-slide="prev"></a><a class="right button" href="#myCarousel-1" data-slide="next"></a>
                                    </span>
                                </h4>
                                <div id="myCarousel-1" class="carousel slide">
                                    <div class="carousel-inner">
                                        <div class="active item">
                                            <ul class="thumbnails listing-products">
                                                {% get_recent_products product as recent_products %}
                                                {% for pro in recent_products %}
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <span class="sale_tag"></span>
                                                        <a href={{ pro.get_absolute_url }}><img alt="" src={{ pro.main_image.url }}></a><br/>
                                                        <a href={{ pro.get_absolute_url }} class="title">{{ pro.title|title }}</a><br/>
                                                        <p class="price">{{ pro.price }}</p>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="item">
                                            <ul class="thumbnails listing-products">
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <span class="sale_tag"></span>
                                                        <a href="product_detail.html">
{#                                                            <img alt="" src="themes/images/ladies/1.jpg">#}
                                                        </a><br/>
                                                        <a href="product_detail.html" class="title">Fusce id molestie massa</a><br/>
                                                        <a href="#" class="category">Phasellus consequat</a>
                                                        <p class="price">$341</p>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <a href="product_detail.html">
{#                                                            <img alt="" src="themes/images/ladies/2.jpg">#}
                                                        </a><br/>
                                                        <a href="product_detail.html">Praesent tempor sem</a><br/>
                                                        <a href="#" class="category">Erat gravida</a>
                                                        <p class="price">$28</p>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <span class="sale_tag"></span>
                                                        <a href="product_detail.html">
{#                                                            <img alt="" src="themes/images/ladies/3.jpg">#}
                                                        </a><br/>
                                                        <a href="product_detail.html" class="title">Wuam ultrices rutrum</a><br/>
                                                        <a href="#" class="category">Suspendisse aliquet</a>
                                                        <p class="price">$341</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span3 col">
                        <div class="block">
                            <h4 class="title">
                                <span class="pull-left"><span class="text">Randomize</span></span>
                                <span class="pull-right">
                                    <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
                                </span>
                            </h4>
                            <div id="myCarousel" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="active item">
                                        <ul class="thumbnails listing-products">
                                            {% get_brand_products product as brand_products %}
                                            {% for each_product in brand_products %}
                                            <li class="span3">
                                                <div class="product-box">
                                                    <span class="sale_tag"></span>
                                                    <a href={{ each_product.get_absolute_url }}><img alt="" src={{ each_product.main_image.url }}></a><br/>
                                                    <a href={{ each_product.get_absolute_url }} class="title">{{ each_product.title }}</a><br/>
                                                    <p class="price">{{ each_product.price }}</p>
                                                </div>
                                            </li>
                                            {% endfor %}

                                        </ul>
                                    </div>
                                    <div class="item">
                                        <ul class="thumbnails listing-products">
                                            <li class="span3">
                                                <div class="product-box">
                                                    <a href="product_detail.html">
{#                                                        <img alt="" src="themes/images/ladies/8.jpg">#}
                                                    </a><br/>
                                                    <a href="product_detail.html" class="title">Tempor sem sodales</a><br/>
                                                    <a href="#" class="category">Urna nec lectus mollis</a>
                                                    <p class="price">$134</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <h4 class="title"><strong>Best</strong> Seller</h4>
                            <ul class="small-product">
                                <li>
                                    <a href="#" title="Praesent tempor sem sodales">
{#                                        <img src="themes/images/ladies/1.jpg" alt="Praesent tempor sem sodales">#}
                                    </a>
                                    <a href="#">Praesent tempor sem</a>
                                </li>
                                <li>
                                    <a href="#" title="Luctus quam ultrices rutrum">
{#                                        <img src="themes/images/ladies/2.jpg" alt="Luctus quam ultrices rutrum">#}
                                    </a>
                                    <a href="#">Luctus quam ultrices rutrum</a>
                                </li>
                                <li>
                                    <a href="#" title="Fusce id molestie massa">
{#                                        <img src="themes/images/ladies/3.jpg" alt="Fusce id molestie massa">#}
                                    </a>
                                    <a href="#">Fusce id molestie massa</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}
        </div>
        <script src="themes/js/common.js"></script>
        <script>
            $(function () {
                $('#myTab a:first').tab('show');
                $('#myTab a').click(function (e) {
                    e.preventDefault();
                    $(this).tab('show');
                })
            })
            $(document).ready(function() {
                $('.thumbnail').fancybox({
                    openEffect  : 'none',
                    closeEffect : 'none'
                });

                $('#myCarousel-2').carousel({
                    interval: 2500
                });								
            });
        </script>
{% endspaceless %}